@import 'functions';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-paper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-color: get-color('white');
  border: 1px solid get-color('divider');
  
  padding: 0.5rem 1rem;
  margin: 0.25rem 0rem;

  width: 100%;
  
  .paper-title {
    margin-bottom: 0.5rem;

    h3 {
      margin: 0;
    }
  }

  .paper-desc {
    flex-grow: 1;
    overflow: hidden;
    margin: 1rem 0;
    margin-top: auto;
    max-height: 9rem;

    p {
      margin: 0;
    }
  }

  .paper-link {
    display: flex;
    justify-content: flex-end;

    width: 100%;

    a {
      text-transform: uppercase;
    }
  }
}
