$white: #ffffff;
$black: #000000;
$pink: #c51162;
$yellow: #f2c94c;
$red: #ea2c3f;

$gray-100: #fdfdfd;
$gray-200: #f2f2f2;
$gray-300: #e0e0e0;
$gray-400: #c4c4c4;
$gray-500: #bdbdbd;
$gray-600: #979797;
$gray-700: #676767;
$gray-800: #4f4f4f;
$gray-900: #333333;

$blue-100: #34b0e5;
$blue-200: #1aa1dc;

$theme-colors: (
  'accent': $blue-200,
  'black': $black,
  'blue': $blue-100,
  'dark': $gray-700,
  'darker': $gray-800,
  'darkest': $gray-900,
  'divider': $gray-500,
  'divider-light': $gray-400,
  'error': $pink,
  'gray': $gray-600,
  'light': $gray-100,
  'red': $red,
  'silver': $gray-300,
  'smoke': $gray-200,
  'white': $white,
  'yellow': $yellow
);

$facebook: #3b5998;
$linkedin: #0077b5;
$pinterest: #bd081c;
$twitter: #00aced;

$social-colors: (
  'facebook': $facebook,
  'linkedin': $linkedin,
  'pinterest': $pinterest,
  'twitter': $twitter
);
