@import 'functions';

.navbar {
  background-color: get-color('white');
  border-bottom: 1px solid get-color('divider');

  padding: 0.5rem;

  .navbar-brand {
    color: get-color('darkest');

    font-size: 1.5rem;
    font-weight: 600;

    text-decoration: none;
    text-transform: uppercase;

    .dot {
      color: get-color('dark');
    }

    &:hover {
      color: get-color('black');
    }
  }
}
